{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": [1, {"args": "none"}],
        "no-case-declarations": 0
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "plugins": [
        "react"
    ]
}
